body,
html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: #24253a;
}

/* *****************Nav hamburger********************** */
#anime {
  transition: 0.5s;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
h3 {
  font-size: 0.5em;
}
h2 {
  color: white;
}
h4 {
  color: white;
}
h5 {
  color: black;
}
.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
.logo img {
  height: 70px;
}

#nav {
  /* visibility: hidden; */
  position: fixed;
  opacity: 0;
  z-index: -9998;
  /* top: 0; */
  left: 0;
  background-color: #154287;
  color: white;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  transition: 0.5s;
  height: 100%;
}

#nav li {
  margin-top: 20px;
}

#nav li a {
  color: white;
  text-decoration: none;
  font-size: 0.4em;

  transition: 0.2s;
  padding: 10px 20px;
}

#nav li a:hover {
  background-color: white;
  color: #24253a;
}

.content-btn-ham {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 10px;
  /* width: 100%; */
  background-color: #24253a;
  border-bottom: 1px solid #154287;
}

#btn {
  width: 60px;
  height: 70px;
  background-color: #24253a;
  z-index: 9999;

  border-radius: 10px;

  font-size: 40px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  cursor: pointer;

  transition: 0.5s;
}

#btn:hover {
  background-color: rgb(56, 115, 175);
}

.trait {
  width: 80px;
  border-top: 1px solid #24253a;
}

#logo {
  margin-left: 20px;
}
/*anim logo*/
#logo:hover {
  animation: turn 2.5s;
}

@keyframes turn {
  100% {
    transform: rotate(180deg);
  }
}

/* ******************main******************* */
main {
  background: #24253a;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Gros {
  display: flex;
  justify-content: space-around;
}
.actu {
  text-align: center;
}

.section-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.section-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  border-left: 1px solid #154287;
}

.article-1,
.article-2 {
  display: flex;
}

.cadre {
  position: relative;
  padding: 40px 20px 25px 0;
  width: 60%;
  max-width: 600px;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 10px 8px;
  color: white;
  text-align: center;
}

.img-container {
  height: 100px;
  width: 90%;
  max-width: 500px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 1px 1px 10px white;
}
.img-container img {
  position: relative;
  height: 100%;
  margin: 0 auto;
}
.img-container:hover img {
  transform: scale(1.07);
  transform-origin: 50% 50%;
  filter: contrast(140%);
  transition: 0.3s ease-in-out;
}
.cadre:before,
.cadre:after {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 1px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
  z-index: -1;
}
.cadre:before {
  top: 15px;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.cadre:after {
  bottom: 0px;
  right: 15px;
  border-top-color: transparent;
  border-left-color: transparent;
}
.cadre:hover:before,
.cadre:hover:after {
  border-color: white;
  width: 100%;
  height: 100%;
}
.legende {
  max-width: 350px;
  padding: 50px 0 0 20px;
  opacity: 1;
  transition: 5s ease-in-out;
}
.projet:hover .legende {
  opacity: 1;
  transition: 2s ease;
}
.legende a {
  padding: 16px 10px 10px 10px;
  margin-top: 20px;
  font-size: 1.1em;
  float: right;
  border-radius: 3px;
  background: #e2dedb;
  animation: shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
.legende a:active {
  animation: shadow-push 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@keyframes shadow-pop-br {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e,
      4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e,
      8px 8px #3e3e3e;
    transform: translateX(-6px) translateY(-6px);
  }
}
@keyframes shadow-push {
  0% {
    box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e,
      4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e,
      8px 8px #3e3e3e;
    transform: translateX(-6px) translateY(-6px);
  }
  100% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
}

/* *******footer*************** */
footer {
  height: auto;
  border: #154287 1px solid;
  text-align: center;
}
#taille {
  width: 100px;
  height: 100px;
}
p {
  font-size: 30px;
  color: white;
}

/* *************************media*************** */

@media screen and (max-width: 600px) {
  .Gros {
    flex-direction: column;
    align-items: center;
  }
  .section-2 {
    border-top: 1px solid #154287;
    border-left: none;
    margin-bottom: 50px;
  }

  .section-1 {
    margin-bottom: 50px;
  }
  #nav {
    font-size: 25px;
  }
}

@media screen and (max-width: 400px) {
  #nav {
    flex-wrap: nowrap;
  }
}
