body,
html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #24253a;
}

/* **********************header************************ */
.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
.logo img {
  height: 70px;
}
#inputlogo {
  background-color: white;
  width: 400px;
}
.titre h1 {
  color: white;
}
p {
  color: white;
}
#inputlogo {
  font-size: 1em;
  padding: 0;
}
/* *****************Nav hamburger********************** */
h3 {
  font-size: 0.5em;
}
#nav {
  /* visibility: hidden; */
  position: fixed;
  opacity: 0;
  z-index: -9998;
  /* top: 0; */
  left: 0;
  background-color: #154287;
  color: white;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  transition: 0.5s;
  height: 100%;
}

#nav li {
  margin-top: 20px;
}

#nav li a {
  color: white;
  text-decoration: none;
  font-size: 0.4em;

  transition: 0.2s;
  padding: 10px 20px;
}

#nav li a:hover {
  background-color: white;
  color: #24253a;
}

.content-btn-ham {
  display: flex;
  justify-content: start;
  padding: 10px;
  background-color: #24253a;
  border-bottom: 2px solid #154287;
}

#btn {
  width: 60px;
  height: 70px;
  background-color: #24253a;
  z-index: 9999;

  border-radius: 10px;

  font-size: 40px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  cursor: pointer;

  transition: 0.5s;
}

#btn:hover {
  background-color: rgb(56, 115, 175);
}

.trait {
  width: 80px;
  border-top: 1px solid #24253a;
}

#anime {
  transition: 0.5s;
}
#logo {
  margin-left: 20px;
}
/*anim logo*/
#logo:hover {
  animation: turn 2.5s;
}

@keyframes turn {
  100% {
    transform: rotate(180deg);
  }
}

/* form */
.titre {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

form {
  padding: 100px;
  margin: 50px 0;
  width: 50%;
  margin-left: 400px;
}

h1 {
  color: black;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px black;
  margin: -0.512em auto;
  width: 80px;
}

.email {
  float: right;
  width: 45%;
}

input[type="text"],
[type="email"],
select,
textarea {
  border-bottom: solid 2px black;
  background-color: #c4c4c4;
  color: black;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
}

.name {
  float: left;
  width: 45%;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
  background-color: #c4c4c4;
}

::-webkit-input-placeholder {
  color: black;
}

:-moz-placeholder {
  color: black;
  opacity: 1;
}

::-moz-placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
}

#form_button {
  background: none;
  border: solid 2px black;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#form_button:hover {
  background: black;
  color: #f2f3eb;
}

/* *******footer*************** */
footer {
  height: auto;
  border: #154287 1px solid;
  text-align: center;
  }
  #taille{
  width: 100px;
  height: 100px;
  }
  p{
  font-size: 30px;
  }

/* *******responsive******** */

@media screen and (max-width: 768px) {
  form {
    margin: 0;
    margin-left: 0;
  }
  #nav {
    font-size: 25px;
  }
  #inputlogo {
    font-size: 1em;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  #nav {
    flex-wrap: nowrap;
    font-size: 20px;
  }
}
