html, body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #24253a;
    color: white;
}
/* **********************header************************ */
/*anim logo*/
#logo:hover{
    animation: turn 2.5s;
  
  }
  #logo{
    margin-left: 20px;
    height: 70px;
  }
  .logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
  
  @keyframes turn {
    100%{transform: rotate(180deg);}
  }
  /* *****************Nav hamburger********************** */
  h3 {
    font-size: 0.5em;
  }
  #nav {
    /* visibility: hidden; */
    position: fixed;
    opacity: 0;
    z-index: -9998;
    /* top: 0; */
    left: 0;
    background-color: #154287;
    color: white;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    transition: 0.5s;
    height: 100%;
  }
  
  #nav li {
    margin-top: 20px;
  }
  
  #nav li a {
    color: white;
    text-decoration: none;
    font-size: 0.4em;
    transition: 0.2s;
    padding: 10px 20px;
    }

    #nav li a:hover {
    background-color: white;
    color: #24253a;
    }

    .content-btn-ham {
    display: flex;
    justify-content: start;
    padding: 10px;
    background-color: #24253a;
    border-bottom: 2px solid #154287;
    align-items: center;
    
    }
    

    #btn {
    width: 60px;
    height: 70px;
    background-color: #24253a;
    z-index: 9999;

    border-radius: 10px;

    font-size: 40px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
    cursor: pointer;
  
    transition: 0.5s;
  }
  
  #btn:hover {
    background-color: rgb(56, 115, 175);
  }
  
  .trait {
    width: 80px;
    border-top: 1px solid #24253a;
  }
  .informations{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  #pp{
    width: 150px;
    
  }
  #space{
    margin: auto;
    padding: 15px;
  }
  .info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .contenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #154287;
    border-radius: 10Px;
    width: auto;
    align-items: center;
  }
.conteneur{
    border: 2px solid #154287;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    height: auto;
    width: 80%;
    background-image: linear-gradient(
        to right,
        #40b561,
        #009a84,
        #007b93,
        #005988,
        #193765
    );
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.details{
    flex-direction: column;
    margin-right: 20px;
}
#position{
    width: 80px;
    height: 80px;
    margin-right: 30px;
}
#champion{
    width: 120px;
    height: 120px;
    margin-right: 20px;
}
#taille2{
    width: 42px;
    height: 42px;
}
.conteneur2{
    flex-direction: column;   
    margin-right: 20px;
}

.conteneur3{
    margin-right: 20px;
}
.carre{
    flex-direction: column;
}
.conteneur4{
    display: flex;
    margin-right: 20px;
    flex-wrap: wrap;
}
.composition{
    display: flex;
    flex-wrap: wrap;
}
.partie{
  flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-left: 20px;
}
#compo{
    height: 40px;
    width: 40px;
    margin: 2px;
}
.conteneurp2{
  border: 2px solid #154287;
  border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    height: auto;
    margin-bottom: 30px;
    width: 80%;
    background-image: linear-gradient(
    to right,
    #e03033,
    #c4195f,
    #912d79,
    #54387a,
    #193765
    );
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* *******footer*************** */
footer {
  height: auto;
  border: #154287 1px solid;
  text-align: center;
  }
  #taille{
  width: 50px;
  height: 50px;
  margin: 5px;
  }

  p{
  font-size: 30px;
  }
  
  @media screen and (max-width: 768px) {
    .conteneur{
      height: auto;
    }
    .conteneurp2{
      height: auto;
      margin-bottom: 30px;
    }
    .logo{
      display: none;
    }

  }
  @media screen and (max-width: 1170px) {
    .conteneur{
      height: auto;
    }
    .conteneurp2{
      height: auto;
    }
  }

