body,
html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #24253a;
    color: white;
    overflow-x: hidden;
}

/* **********************header************************ */
/*anim logo*/
#logo:hover{
  animation: turn 2.5s;

}
#logo{
  margin-left: 200px;
  width: 80px;
  height: 80px;
}
.logo{
    margin: auto;
}
@keyframes turn {
  100%{transform: rotate(180deg);}
}
/* *****************Nav hamburger********************** */
h3 {
  font-size: 0.5em;
}
#nav {
  /* visibility: hidden; */
  position: fixed;
  opacity: 0;
  z-index: -9998;
  /* top: 0; */
  left: 0;
  background-color: #154287;
  color: white;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  transition: 0.5s;
  height: 100%;
}

#nav li {
  margin-top: 20px;
}

#nav li a {
  color: white;
  text-decoration: none;
  font-size: 0.4em;

  transition: 0.2s;
  padding: 10px 20px;
}

#nav li a:hover {
  background-color: white;
  color: #24253a;
}

.content-btn-ham {
  display: flex;
  justify-content: start;
  padding: 10px;
  background-color: #24253a;
  border-bottom: 2px solid #154287;
}

#btn {
  width: 60px;
  height: 70px;
  background-color: #24253a;
  z-index: 9999;

  border-radius: 10px;
  font-size: 40px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  cursor: pointer;

  transition: 0.5s;
}

#btn:hover {
  background-color: rgb(56, 115, 175);
}

.trait {
  width: 80px;
  border-top: 1px solid #24253a;
}
#bg{
  opacity: 20%;
  height: 100%;
  width: 100%;
  animation: Backs 5s ease 0s infinite normal forwards;
}
@keyframes Backs {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 84%;
  }

  100% {
    transform: scale(1.25) translate(-20px, 15px);
    transform-origin: left bottom;
  }
}


#ritoanim{
  animation: myAnim 2s ease 0s infinite normal forwards;
  transform: rotate(180deg);
}
@keyframes myAnim {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.searchBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%,50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  

}
#riot{
  width: 50px;
  height: 50px;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
background: white;
color : #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 150px;
  padding: 0 6px;
}
}
/* *******footer*************** */
footer {
  height: auto;
  border: #154287 1px solid;
  text-align: center;
  }
  #taille{
  width: 100px;
  height: 100px;
  
  }
  p{
  font-size: 30px;
  }

    a{
      animation: myAnim 2s ease 0s infinite normal forwards;
    }
    @keyframes myAnim {
      0%,
      50%,
      100% {
        opacity: 1;
      }
    
      25%,
      75% {
        opacity: 0;
      }
    }


