body,
html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #24253a;
}
/*anim logo*/
#logo:hover{
  animation: turn 2.5s;

}
#logo{
  margin-left: 20px;
}
@keyframes turn {
  100%{transform: rotate(180deg);}
}
/* **********************header************* */
.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
.logo img {
  height: 70px;
}

h4 {
  color: white;
}
p {
  color: white;
}
/* *****************Nav hamburger********************** */
h3 {
  font-size: 0.5em;
}
#nav {
  /* visibility: hidden; */
  position: fixed;
  opacity: 0;
  z-index: -9998;
  /* top: 0; */
  left: 0;
  background-color: #154287;
  color: white;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  transition: 0.5s;
  height: 100%;
}

#nav li {
  margin-top: 20px;
}

#nav li a {
  color: white;
  text-decoration: none;
  font-size: 0.4em;

  transition: 0.2s;
  padding: 10px 20px;
}

#nav li a:hover {
  background-color: white;
  color: #24253a;
}

.content-btn-ham {
  display: flex;
  justify-content: start;
  padding: 10px;
  background-color: #24253a;
  border-bottom: 2px solid #154287;
  flex-wrap: wrap;
}

#btn {
  width: 60px;
  height: 70px;
  background-color: #24253a;
  z-index: 9999;

  border-radius: 10px;

  font-size: 40px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  cursor: pointer;

  transition: 0.5s;
}

#btn:hover {
  background-color: rgb(56, 115, 175);
}

.trait {
  width: 80px;
  border-top: 1px solid #24253a;
}

#anime {
  transition: 0.5s;
}

/* **************************main***************** */
#anime {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.IMAGE {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  /* height: 30vh; */
  margin-top: 100px;
  justify-content: space-around;
  margin-right: auto;
  margin-left: 40px;
}
.img {
  width: 250px;
  height: 250px;
  border: 1px solid #154287;
  border-radius: 10px;
}
.img img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.Saikoo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
}

.petititre {
  font-size: 3em;
  color: white;
}

.diams {
  display: flex;
  border: 1px solid #154287;
  padding: 10px;
  justify-content: space-around;
  width: 400px;
  background-color: #04204a;
  color: white;
  border-radius: 10px;
}
.diams img {
  height: 50px;
}
.TITRE {
  width: 20%;
  font-size: 1.5em;
  text-align: center;
}
.Arcanist-Lux {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid #154287;
  align-items: center;
  height: auto;
  width: 80%;
  margin-top: 100px;
  background-image: linear-gradient(
    to right,
    #40b561,
    #009a84,
    #007b93,
    #005988,
    #193765
  );
  margin-right: 100px;
}

.Arcanist-Lux1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid #154287;
  align-items: center;
  height: auto;
  width: 80%;
  margin-top: 20px;
  background-image: linear-gradient(
    to right,
    #e03033,
    #c4195f,
    #912d79,
    #54387a,
    #193765
  );
  margin-right: 100px;
}

.Arcanist-Lux2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid #154287;
  align-items: center;
  height: auto;
  width: 80%;
  margin-top: 20px;
  background-image: linear-gradient(
    to right,
    #878787,
    #72717e,
    #5a5c75,
    #3e496d,
    #193765
  );
  margin-right: 100px;
}

.imgperso {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.image-perso {
  height: 80px;
  width: 80px;
  margin-right: 20px;
}

.image-item {
  height: 30px;
  width: 25px;
}

/* *****************footer********************** */
footer {
  height: 20vh;
  background-color: #24253a;
  border-top: 1px solid #154287;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 50px;
  justify-content: space-around;
}

.bigContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
}

.followUs {
  text-align: center;
  width: 50%;
  height: auto;
}
.imglogos {
  width: 50px;
  height: 30px;
  cursor: pointer;
}

.imgFacebook {
  position: relative;
  left: -6px;
}

.imgTwitter {
  position: relative;
  left: -4px;
}

.imglogos:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@media screen and (max-width: 450px) {
  .IMAGE {
    flex-direction: column;
  }
}
